In [1]:
## Basic libs
import pandas as pd
import numpy as np
import warnings

In [3]:
df =pd.read_csv("mldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [5]:
#converting gender into dommies variables
df["gender"] = df["gender"].replace("Male",1)
df["gender"] = df["gender"].replace("Female",0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [6]:
# seletion of input and output variables
x = df[["weight","gender"]]
y = df["likeness"]

In [7]:
x.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [8]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [16]:
# machine learning algorithem apply
from sklearn.tree import DecisionTreeClassifier

# create and fit our model

model = DecisionTreeClassifier().fit(x,y)

# prediction 

model.predict([[26, 1]])

array(['Biryani'], dtype=object)

In [19]:
# how to measure the accuracy of my model
## split the data into test and train 80 to 20 rules
# you can also use it for simple and multiple liner regrassion

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.2)

# creart model
model = DecisionTreeClassifier()

#fitting a model
model.fit(x_train,y_train)

predicted_values = model.predict(x_test)
predicted_values

# predicted score

score = accuracy_score(y_test, predicted_values)
score

0.5918367346938775

In [20]:
# how to train and save your model 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(x,y)

joblib.dump(model, "foodiep.joblib")

['foodiep.joblib']

In [27]:
# how to run a store or save model on our data?
from joblib import Parallel, delayed
import joblib


# Save the model as a pickle in a file
joblib.dump(model, 'filename.pkl')

# Load the model from the file
knn_from_joblib = joblib.load('filename.pkl')

# Use the loaded model to make predictions
knn_from_joblib.predict(x_test)

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Pakora', 'Biryani',
       'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Samosa', 'Biryani',
       'Biryani'], dtype=object)

In [22]:
# graph
from enum import unique
from sklearn import tree
model = DecisionTreeClassifier().fit(x,y)

# graphic evalvation or look into what happend
tree.export_graphviz(model, out_file="foodia.dot", feature_names = ["age","gender"], class_names = sorted(y.unique()),label="all", rounded=True, filled=True)