In [1]:
## Basic libs
import pandas as pd
import numpy as np
import warnings

In [2]:
df =pd.read_csv("mldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [3]:
#converting gender into dommies variables
df["gender"] = df["gender"].replace("Male",1)
df["gender"] = df["gender"].replace("Female",0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [4]:
# seletion of input and output variables
x = df[["weight","gender"]]
y = df["likeness"]

In [5]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [7]:
# model and prediction
from sklearn.neighbors import KNeighborsClassifier
from sympy import Predicate
model = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets

model.fit(x,y)

#predict output
Predicate= model.predict([[70,1]]) # 70 weight and 1 male gender
Predicate

array(['Biryani'], dtype=object)

In [14]:
# split data into last and train 80/20 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.2)

model = KNeighborsClassifier(n_neighbors=7)

# fitting a model
model.fit(x_train, y_train)

Predicated_values = model.predict(x_test)
Predicated_values

#checking score

score = accuracy_score(y_test, Predicated_values)
print("the accuracy score for our model is =", score)

the accuracy score for our model is = 0.6530612244897959